<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/static/favicon.png">

  <title>{{ title_s }} | Distant Life</title>
  <link rel="stylesheet" href="/static/proj04.css?id=0a0a91bcac24da202eda">
  <link rel="stylesheet" href="/static/overrides.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Noto+Sans+Hebrew:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Noto+Sans+Hebrew:wght@400;700&display=swap" media="print"
    onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Noto+Sans+Hebrew:wght@400;700&display=swap" />
  </noscript>
  <meta name="theme-color" content="#2acfcf">
  <script src="https://kit.fontawesome.com/d22d49eaa0.js" crossorigin="anonymous"></script>
</head>