{% from "./macros.html" import usedalot, get_data with context %}
<aside>
  {% if (session.get("active_pet")) %}
  <p class="text-center my-0 pet-box ">
    
    <img width="200" height="200" src="{{ url_for('static', filename=session['active_pet']['imgsrc']) }}" alt="{{session['active_pet']['type']}}" />
  </p>
  <h3>{{session["active_pet"]["name"]}} <small>({{session["active_pet"]["id"]}})</small></h3>
  <p>{{session["active_pet"]["type"]}}</p>
  

  <p class="text-small-caps mb-0">Level {{ session["active_pet"]["exp"] // 100 }} | Exp: {{ session["active_pet"]["exp"] % 100 }}/100 </p>
  <div class="progressbar" role="progressbar" aria-valuenow="{{ session['active_pet']['exp'] % 100 }}" aria-valuemin="0" aria-valuemax="100">
    <span class="filled" style="width: {{ session['active_pet']['exp'] % 100 }}%;"></span>
    <span class="sr-only">{{session["active_pet"]["exp"]}}</span>
  </div>
  {% endif %}

  <div class="d-none">
    <dl class="list-stats">
      <dt>
        <span class="fal fa-star"></span>
        <span class="sr-only">star</span>
      </dt>
      <dd>10 words learned</dd>
    </dl>
    <dl class="list-stats">
      <dt>
        <span class="fal fa-coins"></span>
        <span class="sr-only">coins</span>
      </dt>
      <dd>$13.00</dd>
    </dl>
    <h3>Latest Notifications:</h3>
    <ul>
      <li>Badge: Grocery Run</li>
    </ul>
  </div>
</aside>