/* additional styles not implemented on fed-projects/04 */
.d-inline {
  display: inline !important;
}
.element-options {
  padding-right: 0;
}
.element-options li.has-dropdown ul.dropdown {
  position: absolute;
  padding-right: 0;
  z-index: 2;
}
.element-options li.has-dropdown ul.dropdown li a {
  background-color: #4E84A5;
}
.element-options li.has-dropdown ul.dropdown li a.disabled {
  opacity: 1;
  color: rgba(255, 255, 255, .5)
}
.layout-secondary .card {
  background-color: rgba(255, 255, 255, .1);
  padding-top: 20px;
  padding-bottom: 20px;
}
.layout-secondary .card h3 {
  color: #fff;
}

.p-title {
  border-bottom: 1px dashed #99b6cb;
}
.card-image {
  width: 63px;
}
.card .card-image .fad {
  color: #fffd82;
}
.pet-group .pet-image-sm { width: 50px; }
.pet-group .pet-image-lg { width: 80px; }
@media (min-width: 768px) {
  .pet-group .pet-image-sm { width: 100px; }
  .pet-group .pet-image-lg { width: 140px; }
}

.pet-edit-image {
  margin: 0 auto;
  max-width: 300px;
}