/* additional styles not implemented on fed-projects/04 */
fieldset, legend {
  color: #fff;
  border-color: rgba(255, 255, 255, .3);
}
legend {
  font-size: 14px;
  text-transform: uppercase;
}
form + form {
  margin-top: 20px;
}
fieldset {
  width: 100%;
}
select {
  padding: 5px;
  font-size: 16px;
}
.progressbar .filled {
  padding: 4px 0;
}
.text-lowercase {
  text-transform: lowercase;
}
input[type=submit], button, select, option {
  cursor: pointer;
}
body.dir-rtl .layout-secondary aside .pet-box img {
  transform: scaleX(-1);
}
body.dir-rtl .menu-container li.has-dropdown ul.dropdown {
  padding-right: 0;
}
@media (min-width: 992px) {
  body.dir-rtl .menu-container li.has-dropdown ul.dropdown {
    right: auto;
    left: 0;
  }
}
aside .pet-box img {
  padding: 10px;
}
.col-list {
  flex-wrap: wrap;
}