{% extends "layout.html" %}


{% block title %}
{{ _('ui.adopt_a_pet') }} 
{% endblock %}

{% block main %}


<h1>{{ _('ui.adopt_a_pet') }}</h1>

{% if (pet_types|length) > 0 %}
  
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _('ui.type') }}</th>
                <th>{{ _('ui.image') }}</th>
                <th>{{ _('ui.adopt') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for pet_type in pet_types %}
            <tr>
                <td>{{ pet_type.pet_type }} ({{pet_type.id}})</td>
                <td><img src="/static/{{ pet_type.imgsrc }}" alt="" /></td>
                <td>
                  <form method="post" action="/adopt">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input name="pet_type" type="hidden" value="{{pet_type.id}}" />
                    <input type="submit" value="{{ _('ui.adopt') }}" />
                </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </form>
    {% else %}
      <p>{{ _('ui.no_pets') }}</p>
    {% endif %}

{% endblock %}
