{% extends "layout-1col.html" %}

{% block title %}
  Error
{% endblock %}

{% block main %}
<script>
function goBack() {
  window.history.back();
}
</script>
    <p class="text-center">
      <span class=" fad fa-transporter-empty icon-xxl"></span>
      <span class="sr-only">transporter-empty</span>
    </p>
    <p class="text-center lead"><strong>{{ _('Error') }} {{ code }}</strong><br/> {{ message }}</p>
    <p class="text-center mt-5"><a class="btn btn-primary" onclick="goBack()">{{ _('Go Back') }}</a></p>
{% endblock %}
