{% extends "layout.html" %}
{% from "./macros.html" import csrf_field, form_group, language_options as render_language_options with context %}

{% block title %}
  {{ _('ui.admin') }}  
{% endblock %}

{% block main %}
<header><h1>{{title_s}}</h1></header>

<form class="mx-auto centered" action="/create/set/" method="post">
  {{ csrf_field() }}
  <fieldset>
    <legend>{{ _('ui.word_set_shown_in_translated_language') }}</legend>
    {% call form_group('setname', _('ui.set_name')) %}
      <input required id="setname" name="setname" type="text" />
    {% endcall %}
    {% call form_group('learning_lang', _('ui.language')) %}
      <select id="learning_lang" name="learning_lang">
        {{ render_language_options(language_options, userinfo.learning_lang) }}
      </select>
    {% endcall %}
  </fieldset>
  <fieldset>
    <legend>{{ _('ui.help_text_shown_in_native_language') }}</legend>
    {% call form_group('plang_setname', _('ui.set_name')) %}
      <input required id="plang_setname" name="plang_setname" type="text" />
    {% endcall %}
    {% call form_group('preferred_lang', _('ui.language')) %}
      <select id="preferred_lang" name="preferred_lang">
        {{ render_language_options(language_options, userinfo.preferred_lang) }}
      </select>
    {% endcall %}
  </fieldset>
  <button>{{ _('ui.create_new_set') }}</button>
</form>
{% endblock %}
