{% extends "layout.html" %}

{% block title %}
  {{ _('ui.admin') }}  
{% endblock %}

{% block main %}
<header><h1>{{title_s}}</h1></header>

<form class="mx-auto centered" action="/create/set/" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <fieldset>
    <legend>{{ _('ui.word_set_shown_in_translated_language') }}</legend>
    <div class="form-group">
      <label for="setname">{{ _('ui.set_name') }}</label>
      <input required id="setname" name="setname" type="text" />
    </div> 
    <div class="form-group">
      <label for="learning_lang">{{ _('ui.language') }}:</label>
      <select id="learning_lang" name="learning_lang">
        {% for lang in language_options %}
          {% if lang.id == userinfo.learning_lang %}
          <option selected data-char="{{ lang.charcode }}" value="{{ lang.id }}">{{ lang.name }}</option>
          {% else %}
            <option data-char="{{ lang.charcode }}" value="{{ lang.id }}">{{ lang.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ _('ui.help_text_shown_in_native_language') }}</legend>
    <div class="form-group">
      <label for="plang_setname">{{ _('ui.set_name') }}</label>
      <input required id="plang_setname" name="plang_setname" type="text" />
    </div> 
    <div class="form-group">
      <label for="preferred_lang">{{ _('ui.language') }}:</label>
      <select id="preferred_lang" name="preferred_lang">
        {% for lang in language_options %}
          {% if lang.id == userinfo.preferred_lang %}
            <option selected data-char="{{ lang.charcode }}" value="{{ lang.id }}">{{ lang.name }}</option>
          {% else %}
            <option data-char="{{ lang.charcode }}" value="{{ lang.id }}">{{ lang.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </fieldset>
  <button>{{ _('ui.create_new_set') }}</button>
</form>
{% endblock %}
