{% extends "layout.html" %}


{% block title %}
    Dashboard
{% endblock %}

{% block main %}


<h1>Dashboard</h1>
   <p>Mew</p>

   <b>{{ gettext('Free Trial') }}</b>
   <input type="submit" value="{{ gettext('Sign up') }}"/>

   <div class="d-none">
    <dl class="list-stats">
      <dt>
        <span class="fal fa-star"></span>
        <span class="sr-only">star</span>
      </dt>
      <dd>10 words learned</dd>
    </dl>
    <dl class="list-stats">
      <dt>
        <span class="fal fa-coins"></span>
        <span class="sr-only">coins</span>
      </dt>
      <dd>$13.00</dd>
    </dl>
    <h3>Latest Notifications:</h3>
    <ul>
      <li>Badge: Grocery Run</li>
    </ul>
  </div>
{% endblock %}
