{% extends "layout.html" %}


{% block title %}
{{ _('Dashboard') }}
{% endblock %}

{% block main %}


<h1>{{ _('Dashboard') }}</h1>
   <p>Mew</p>
 
   <div class="d-none">
    <dl class="list-stats">
      <dt>
        <span class="fal fa-star"></span>
        <span class="sr-only">star</span>
      </dt>
      <dd>10 words learned</dd>
    </dl>
    <dl class="list-stats">
      <dt>
        <span class="fal fa-coins"></span>
        <span class="sr-only">coins</span>
      </dt>
      <dd>$13.00</dd>
    </dl>
    <h3>{{ _('Latest Notifications') }}:</h3>
    <ul>
      <li>{{ _('Badge') }}: Grocery Run</li>
    </ul>
  </div>
{% endblock %}
