{% extends "layout.html" %}


{% block title %}
{{ _('Dashboard') }}
{% endblock %}

{% block main %}

 
<h2>{{ _('Latest Notifications') }}</h2>
<div class="card">
<p>No recent updates.</p>
</div>
<h2>{{ _('News') }}</h2>
<div class="card">
     <h3>December 15, 2021</h3>
     <p>Added features:</p>
     <ul>
       <li>Change active pet</li>
       <li>Abandon pet</li>
     </ul>
  </div>

  <div class="card">
    <h3>December 14, 2021</h3>
    <p>Added admin features:</p>
    <ul>
      <li>Add words to original & translated language quiz sets with one upload</li>
    </ul>
 </div>
{% endblock %}
