{% extends "layout.html" %}

{% block title %}
{{ _('Edit Set') }}
{% endblock %}

{% block main %}
  <header>
    <div class="main-options">
      <h1>Edit Set: {{set_info.wordstr}} ({{set_info.id}}) </h1>
    </div>
  </header>

  <table class="table-responsive-stack">
    <thead>
      <tr>
        <th>{{ _('Word') }}</th>
        <th class="form-options">{{ _('Options') }}</th>
     </tr>
    </thead>
    <tbody>
      {% for word in words %}
       <tr>
          <td> 
            <strong>{{word.wordstr}} </strong>
            <small>({{word.id}})</small>
          </td>
          <td class="form-options">
            <form method="get" action="/edit/word/?word_id={{word.id}}">
              <input name="word_id" type="hidden" value="{{word.id}}" />
              <button class="btn btn-secondary" type="submit" value="{{ _('Edit') }}">
                <span class="fal fa-pencil"></span>
                <span class="sr-only">{{ _('Edit') }}</span>
              </button>
            </form>
            <form method="post" action="/delete/word_set_word/">
              <input name="word_id" type="hidden" value="{{word.id}}" />
              <input name="word_set_id" type="hidden" value="{{set_info.id}}" />
              <button onclick="return confirm('Remove?')" title="{{ _('Remove word from set') }}" class="btn btn-danger" type="submit" value="{{ _('Delete') }}">
                <span class="fal fa-trash"></span>
                <span class="sr-only">{{ _('Delete') }}</span>
              </button>
            </form>
          </td>
       </tr>
       {% endfor %}
    </tbody>
  </table>

  <form class="mx-auto centered" action="/uploadwordset" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>Upload words via CSV</legend>
      <input name="word_set_id" type="hidden" value="{{set_info.id}}" />



      
      <div class="form-group">
        <label for="setname">Add second column (tranlsation) to {{set_info.wordstr}} (#{{set_info.id}}) </label>
        <input type="file" name="file">
      </div> 

      <div class="form-group">
        <label for="additional_set">Add first column to additional set: </label>
        <select id="additional_set" name="additional_set">
          <option>---------</option>
            {% for set in sets %}
              <option value="{{set.id}}">{{set.set_name}} (#{{set.id}})</option>
            {% endfor %}
          </select>
      </div> 
      
    </fieldset>
    <button type="submit">{{ _('Upload') }}</button>
  </form>
 
{% endblock %}
