


{% extends "layout-1col.html" %}

{% block title %}
{{ _('Home') }}
{% endblock %}

{% block main %}
<div class="theme-inversed">
  <p class="text-center my-0 pet-group">
    <img class="pet-image-sm" src="{{ url_for('static', filename='/pets/034-jackalope.png') }}"
      alt="jackalope" />
    <img class="pet-image-lg" height="140" src="{{ url_for('static', filename='/pets/002-dragon.png') }}"
      alt="dragon" />
    <img class="pet-image-sm" height="100" src="{{ url_for('static', filename='/pets/004-ufo.png') }}"
      alt="UFO" />
    </p>
  <h2 class="text-center mt-0 h2">Join for free!</h2>
  <p class="lead text-center type-constrained-width">Distant Life combines virtual pet experience with interactive
    language learning and practice, making your learning fun and exciting.</p>
</div>

<section class="card-container">



  <div class="card">
    <div class="card-image">
      <span class="fad fa-rocket-launch"></span>
      <span class="sr-only">rocket-launch</span>
    </div>
    <h3>Discover languages</h3>

    <p>You've landed on a new planet and need to learn words and phrases in order to grow your family of pets and travel to new worlds!</p>
  </div>

  <div class="card">
    <div class="card-image">
      <span class="fad fa-cat-space"></span>
      <span class="sr-only">cat in space</span>
    </div>
    <h3>Grow your family of pets</h3>

    <p>The more lessons you complete, the more experience you earn. Keep learning to gain additional pets, account upgrades, and new lessons.</p>
  </div>

  <div class="card">
    <div class="card-image">
      <span class="fad fa-star"></span>
      <span class="sr-only">star</span>
    </div>
    <h3>New features</h3>
    
    <p>With new features weekly, we've created the learning experience you've been looking for!</p>
  </div>

</section>
<div class="sub-footer-container theme-inversed">
  <aside class="container text-center py-3">
    <p class="color-yellow">
      <img style="height: 100px;" height="100" src="{{ url_for('static', filename='/pets/047-sphynx.png') }}"
      alt="sphynx" />
    </p>
    
    <h2>Begin your language-learning journey today!</h2>
    <p><a href="/signup" class="btn btn-primary">Get Started</a></p>
  </aside>
</div>
{% endblock %}
