


{% extends "layout-1col.html" %}

{% block title %}
{{ _('Home') }}
{% endblock %}

{% block main %}
<div class="theme-inversed">
  <p class="text-center my-0">
    <img style="height: 100px;" height="100" src="{{ url_for('static', filename='/pets/034-jackalope.png') }}"
      alt="jackalope" />
    <img style="height: 140px;" height="140" src="{{ url_for('static', filename='/pets/002-dragon.png') }}"
      alt="dragon" />
    <img style="height: 100px;" height="100" src="{{ url_for('static', filename='/pets/004-ufo.png') }}"
      alt="UFO" />
    </p>
  <h2 class="text-center mt-0 h2">{{ _('Join for free!') }}</h2>
  <p class="lead text-center type-constrained-width">{{ _('Distant Life combines virtual pet experience with interactive
    language learning and practice, making your learning fun and exciting.') }}</p>
</div>

<section class="card-container">

  <div class="card">
    <div class="card-image">
      <span class="fal fa-narwhal"></span>
      <span class="sr-only">narwhal</span>
    </div>
    <h3>{{ _('Grow your family of pets as you learn more!') }}</h3>

    <p>{{ _('The more lessons you complete, the more points you earn toward purchasing additional pets, account upgrades,
      and new lessons!') }} </p>
  </div>


  <div class="card">
    <div class="card-image">
      <span class="fal fa-rocket-launch"></span>
      <span class="sr-only">rocket-launch</span>
    </div>
    <h3>Detailed Records</h3>

    <p>Seamlessly communicate seamless infrastructures rather than progressive potentialities. </p>
  </div>


  <div class="card">
    <div class="card-image">
      <span class="fal fa-star"></span>
      <span class="sr-only">star</span>
    </div>
    <h3>Fully Customizable</h3>

    <p>Assertively create sustainable platforms without adaptive intellectual capital. Continually.</p>
  </div>

</section>
<div class="sub-footer-container theme-inversed">
  <aside class="container text-center py-3">
    <p class="color-yellow">
      <img style="height: 100px;" height="100" src="{{ url_for('static', filename='/pets/047-sphynx.png') }}"
      alt="sphynx" />
    </p>
    
    <h2>{{ _('Begin your language-learning journey today!') }}</h2>
    <p><a href="/signup" class="btn btn-primary">{{ _('Get Started') }}</a></p>
  </aside>
</div>
{% endblock %}
