{% extends "layout.html" %}
{% from "./macros.html" import usedalot, progressbar, get_data with context %}


{% block title %}
{{ _('List') }}
{% endblock %}

{% block main %}


<h1>My Pets</h1>


{% if (pets_owned|length) > 0 %}
  <div class="col-list row">
    {% for pets in pets_owned %}

    <div class="col-12">
      <img src="/static/{{ pets.imgsrc }}" alt="" />
      <h2>{{ pets.name }} 
        {% if pets.id == pets.active_pet_id %}
        <span class="badge badge-success">Active pet</span>
        {% endif %} </h2>
        <p>{{ pets.pet_type }} <small>(#{{ pets.id }})</small></p>
        {{ progressbar((pets.exp)) }}
      </div>
    {% endfor %}
  </div>

  {% else %}


    <p>No pets</p>
{% endif %}


<p class="text-center"><a class="btn btn-primary" href="/adopt">Adopt a pet</a></p>

{% endblock %}
