{% extends "layout-1col.html" %}

{% block title %}
{{ _('Log In') }}  
{% endblock %}

{% block main %}
    <form class="mx-auto centered" action="/login" method="post">
      <div class="form-group">
        <label for="username">{{ _('Username') }}</label>
        <input required id="username" name="username" type="text" />
      </div> 
      <div class="form-group">
        <label for="password">{{ _('Password') }}</label>
        <input required id="password" name="password" type="password" />
      </div>
      <button type="submit">{{ _('Log In') }}</button>
    </form>
{% endblock %}
