{% extends "layout-1col.html" %}
{% from "./macros.html" import csrf_field, form_group, password_field with context %}

{% block title %}
{{ _('ui.auth.log_in') }}  
{% endblock %}

{% block main %}
    <form class="mx-auto centered" action="/login" method="post">
      {{ csrf_field() }}
      {% call form_group('username', _('ui.auth.username')) %}
        <input required id="username" name="username" type="text" />
      {% endcall %}
      {% call form_group('password', _('ui.auth.password')) %}
        {{ password_field('password', 'password', _('ui.auth.show_password'), _('ui.auth.hide_password'), required=true) }}
      {% endcall %}
      <button type="submit">{{ _('ui.auth.log_in') }}</button>
    </form>
{% endblock %}
