{% extends "layout.html" %}
{% from "./macros.html" import progressbar, get_data with context %}

{% block title %}
{{ _('ui.edit') }}
{% endblock %}

{% block main %}
{% if (pet_info|length) > 0 %}

    {% for pet in pet_info %}
    <h1>{{ pet.name }} 
      {% if pet.id == pet.active_pet_id %}
      <span class="badge badge-success">{{ _('ui.active_pet') }}</span>
      {% endif %} </h1>

    <div class="pet-edit-image">
      <img src="/static/{{ pet.imgsrc }}" alt="" />
    </div>
      
        <p>{{ pet.pet_type }} <small>(#{{ pet.id }})</small><br/>
          {{ _('ui.created') }}: {{ pet.created }}</p>
        <p>
          <span class="badge badge-secondary">
            <span class="{{ pet.gender_icon_class }}" aria-hidden="true"></span>
            {{ _('ui.gender') }}: {{ pet.gender_label }}
          </span>
        </p>
        {{ progressbar((pet.exp)) }}

        {% if (pet.exp) >= 100 %}
        <form class="mx-auto centered" action="/pets/edit/" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <fieldset>
              <legend>{{ _('ui.update_pet') }}</legend>
              <div class="form-group">
                <label for="rename">{{ _('ui.rename') }}</label>
                <input placeholder="{{ pet.name }}" class="form-control" name="rename" id="rename" placeholder="{{ _('ui.rename') }}" type="text">
              </div>
              <input type="hidden" name="pet_id" value="{{pet.id}}" />
              <button class="btn btn-primary" type="submit">{{ _('ui.change_name') }}</button>
          </fieldset>
        </form>
        {% endif %}

            <ul class="mt-5 dropdown" aria-label="submenu">
              {% if pet.id != pet.active_pet_id %}
              <li><a href="/activate/?id={{pet.id}}">{{ _('ui.make_active_pet') }}</a></li>
              {% endif %}
              <li><a onclick="return confirm('Are you sure you wish to remove your pet?')" href="/abandon/?id={{pet.id}}">{{ _('ui.abandon') }}</a></li>
            </ul> 

    {% endfor %}
  {% else %}

    <p>{{ _('ui.you_do_not_have_a_pet_with_that_id') }}</p>
{% endif %}

{% endblock %}
