{% extends "layout.html" %}
{% from "./macros.html" import pet_summary with context %}

{% block title %}
{{ _('ui.edit') }}
{% endblock %}

{% block main %}
{% if (pet_info|length) > 0 %}

    {% for pet in pet_info %}
    <div class="pet-edit-image">
      {{ pet_summary(pet, active_pet_id=pet.active_pet_id, show_created=true) }}
    </div>

        {% if (pet.exp) >= 100 %}
        <form class="mx-auto centered" action="/pets/edit/" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <fieldset>
              <legend>{{ _('ui.update_pet') }}</legend>
              <div class="form-group">
                <label for="rename">{{ _('ui.rename') }}</label>
                <input placeholder="{{ pet.name }}" class="form-control" name="rename" id="rename" placeholder="{{ _('ui.rename') }}" type="text">
              </div>
              <input type="hidden" name="pet_id" value="{{pet.id}}" />
              <button class="btn btn-primary" type="submit">{{ _('ui.change_name') }}</button>
          </fieldset>
        </form>
        {% endif %}

            <ul class="mt-5 dropdown" aria-label="submenu">
              {% if pet.id != pet.active_pet_id %}
              <li><a href="/activate/?id={{pet.id}}">{{ _('ui.make_active_pet') }}</a></li>
              {% endif %}
              <li><a onclick="return confirm('Are you sure you wish to remove your pet?')" href="/abandon/?id={{pet.id}}">{{ _('ui.abandon') }}</a></li>
            </ul> 

    {% endfor %}
  {% else %}

    <p>{{ _('ui.you_do_not_have_a_pet_with_that_id') }}</p>
{% endif %}

{% endblock %}
