{% extends "layout.html" %}
{% from "./macros.html" import csrf_field, form_group, language_options as render_language_options, password_field with context %}

{% block title %}
{{ _('ui.profile') }}  
{% endblock %}

{% block main %}
  <dl class="list-inline">
    <dt>Joined:</dt>
    <dd>{{ joined_display or userinfo.created_at }}</dd>
  </dl>

    <dl class="list-inline">
        <dt>{{ _('ui.auth.username') }}:</dt>
        <dd>{{ userinfo.username }} <small>({{ _('ui.profile.id_label') }}: {{ userinfo.id }})</small></dd>
    </dl>

    <div class="card">
      <h3>{{ _('ui.learning_progress') }}</h3>
      <p>{{ _('ui.words_learned') }}: {{ progress.learned_words }}</p>
      <p>{{ _('ui.completed_sets') }}: {{ progress.learned_sets }}</p>
      {% if progress.recent_sets %}
        <h4>{{ _('ui.recent_completions') }}</h4>
        <ul>
          {% for set in progress.recent_sets %}
            <li>
              {% if set.subject %}
                {{ set.subject }}
              {% else %}
                {{ _('ui.set_label') }} {{ set.wordsets }}
              {% endif %}
              {% if set.completed %}
                - {{ set.completed }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <form class="mx-auto centered" action="/updatelanguage" method="post">
      {{ csrf_field() }}
      <fieldset>
          <legend>{{ _('ui.language_preferences') }}</legend>
          {% call form_group('orig_language', _('ui.my_native_language_is')) %}
            <select id="orig_language" name="orig_language">
              {{ render_language_options(language_options, userinfo.preferred_lang) }}
            </select>
          {% endcall %}
          {% call form_group('learning_lang', _('ui.i_want_to_learn')) %}
            <select id="learning_lang" name="learning_lang">
              {{ render_language_options(language_options, userinfo.learning_lang) }}
            </select>
          {% endcall %}
          <button class="btn btn-primary" type="submit">{{ _('ui.save_preferences') }}</button>
      </fieldset>
    </form>

    <form class="mx-auto centered" action="/updatepassword" method="post">
        {{ csrf_field() }}
        <fieldset>
            <legend>{{ _('ui.auth.change_password') }}</legend>
            {% call form_group('current_password', _('ui.auth.current_password')) %}
              {{ password_field('current_password', 'current_password', _('ui.auth.show_password'), _('ui.auth.hide_password'), placeholder=_('ui.auth.current_password')) }}
            {% endcall %}
            {% call form_group('password', _('ui.auth.password')) %}
              {{ password_field('password', 'password', _('ui.auth.show_password'), _('ui.auth.hide_password'), placeholder=_('ui.auth.password')) }}
            {% endcall %}
            {% call form_group('confirmation', _('ui.auth.retype_password')) %}
              {{ password_field('confirmation', 'confirmation', _('ui.auth.show_password'), _('ui.auth.hide_password'), placeholder=_('ui.auth.retype_password')) }}
            {% endcall %}
            <button class="btn btn-primary" type="submit">{{ _('ui.auth.update_password') }}</button>
        </fieldset>
    </form>
{% endblock %}
