{% extends "layout.html" %}

{% block title %}
    Train
{% endblock %}

{% block main %}

  <header>
    <div class="main-options">
      <h1><span class="p-title" title="{{words[page].pronunciation}}">{{words[page].wordstr}}</span> <span class="badge badge-info">{{ words[page].type}}</span></h1>
      {% if (words[page].audiosrc) %}
      <div class="options">
        <button class="btn-option">
          <span class="fal fa-volume"></span>
          <span class="sr-only">{{ _('play audio') }}</span>
        </button>
      </div>
      {% endif %}
    </div>
  </header>
  <p class="text-lowercase d-none"><em>{{words[page].pronunciation}}</em></p>

  <form class="form-quiz-container" method="post" action="/quiz/set/">
    <input name="set_id" type="hidden" value="{{set_id}}" />
    <input name="page" type="hidden" value="{{page+1}}" />
  {% if not words[page+1] %}
    <input name="finished" type="hidden" value="true" />
  {% endif %}
    <div class="form-quiz">

      {% for opt in word_options %}
        <input data-type={{opt.data}} data-index={{loop.index}} value="{{opt.word}}" onclick="displayRadioValue()" type="radio" class="btn-check" name="wordchoice" id="option{{loop.index}}" autocomplete="off">
        <label class="btn btn-radio" for="option{{loop.index}}">{{opt.word}}</label>
      {% endfor %}

    </div>
    <input type="hidden" id="experience" name="experience" value={{experience}} />
    <button style="display: none;" id="buttonContinue" type="submit" class="btn btn-primary">{{ _('Continue') }}</button>
    <button id="buttonSkip" type="submit" class="btn btn-red">{{ _('Skip') }}</button>
  </form>

  <script>
    function displayRadioValue() {
        var ele = document.getElementsByName('wordchoice');
          
        for(i = 0; i < ele.length; i++) {
            if(ele[i].checked) {
                datatype = ele[i].dataset.type;
                ((ele[i].nextSibling).nextSibling).classList.add('btn-'+datatype);
                if (datatype == "success") {
                  document.getElementById("experience").value = parseInt(document.getElementById("experience").value) + 1;
                }
            }
            // Disable ability to change choice after selection
            ele[i].disabled = true;                    
        }
        (document.getElementById("buttonSkip")).style.display = "none";
        (document.getElementById("buttonContinue")).style.display = "inline-block";
    }
  </script>

{% endblock %}
