{% set page_id = 'quizset' %}
{% extends "layout.html" %}

{% block title %}
  {{ _('ui.train') }}
{% endblock %}

{% block main %}

  <header>
    <div class="main-options">
      <h1><span class="p-title" title="{{words[page].pronunciation}}">{{words[page].wordstr}}</span> <span class="badge badge-info">{{ words[page].type}}</span></h1>
      {% if (words[page].audiosrc) %}
      <div class="options">
        <button class="btn-option">
          <span class="fal fa-volume"></span>
          <span class="sr-only">{{ _('ui.play_audio') }}</span>
        </button>
      </div>
      {% endif %}
    </div>
  </header>
  <p class="text-lowercase d-none"><em>{{words[page].pronunciation}}</em></p>

  <form class="form-quiz-container" method="post" action="/quiz/set/">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input name="set_id" type="hidden" value="{{set_id}}" />
    <input name="page" type="hidden" value="{{page+1}}" />
  {% if not words[page+1] %}
    <input name="finished" type="hidden" value="true" />
  {% endif %}
    <div class="form-quiz">

      {% for opt in word_options %}
        <input data-type="{{ opt.data }}" data-index="{{ loop.index }}" value="{{ opt.word }}" type="radio" class="btn-check" name="wordchoice" id="option{{loop.index}}" autocomplete="off">
        <label class="btn btn-radio" for="option{{loop.index}}">{{opt.word}}</label>
      {% endfor %}

    </div>
    <input type="hidden" id="experience" name="experience" value="{{ experience }}" />
    <button id="buttonContinue" type="submit" class="btn btn-primary js-hidden-until-answer">{{ _('ui.quiz.continue') }}</button>
    <button id="buttonSkip" type="submit" class="btn btn-red">{{ _('ui.quiz.skip') }}</button>
  </form>

  {# Quiz behavior loaded from page-specific script #}
  <script defer src="{{ url_for('static', filename='quiz.js') }}"></script>

{% endblock %}
