{% extends "layout-1col.html" %}

{% block title %}
{{ _('Sign Up') }}  
{% endblock %}

{% block main %}
<div class="theme-inversed">
  <p class="text-center">
    <img alt="Distant Life" src="{{ url_for('static', filename='/logos/logo-light-blue.svg') }}" height="28" width="140"/>
  </p>
  <p style="max-width: 370px; margin: 0 auto;" class="text-center pb-3">
    {{ _('Sign up today to start your language-learning journey.') }}
  </p>
</div>
    <form class="mx-auto centered" action="/signup" method="post">
      <div class="form-group">
        <label for="username">{{ _('Username') }}</label>
        <input required id="username" name="username" type="text" />
      </div> 
      <div class="form-group">
        <label for="password">{{ _('Password') }}</label>
        <input required id="password" name="password" type="password" />
      </div>
      <div class="form-group">
        <label for="confirmation">{{ _('Retype Password') }}</label>
        <input required id="confirmation" name="confirmation" type="password" />
      </div>
       
      <button type="submit">{{ _('Sign Up') }}</button>
    </form>
{% endblock %}
