{% extends "layout-1col.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <form class="mx-auto centered" action="/signup" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input required id="username" name="username" type="text" />
      </div> 
      <div class="form-group">
        <label for="password">Password</label>
        <input required id="password" name="password" type="password" />
      </div>
      <div class="form-group">
        <label for="confirmation">Retype Password</label>
        <input required id="confirmation" name="confirmation" type="password" />
      </div>
       
      <button type="submit">Sign Up</button>
    </form>
{% endblock %}
