{% extends "layout.html" %}

{% block title %}
{{ _('ui.train') }}
{% endblock %}

{% block main %}
<header>
  <div class="main-options">
    <h1>{{title_s}}</h1>
    {% if role == 9 %}
    <div class="options">
      <a href="/edit/set/" class="btn-option">
        <span class="fal fa-cog"></span>
        <span class="sr-only">{{ _('ui.nav.settings') }}</span>
      </a>
    </div>
    {% endif %}
  </div>
</header>

<table class="table-responsive-stack">
  <thead>
    <tr>
      <th class="table-icon">
        <span class="fal fa-check-circle"></span>
        <span class="sr-only">{{ _('ui.progress.complete') }}</span>
      </th>
      <th>{{ _('ui.word_set') }}</th>
      <th>{{ _('ui.words') }}</th>
      <th>{{ _('ui.options') }}</th>
      <th><span class="sr-only">{{ _('ui.icon') }}</span></th>
   </tr>
  </thead>
  <tbody>
    {% for set in sets %}
     <tr>
        <td class="table-icon">
          {% if set.completed %}
            <span class="fal fa-check-circle"></span>
            <span class="sr-only">{{ _('ui.progress.complete') }}</span>
          {% else %}
            <span class="fal fa-circle"></span>
            <span class="sr-only">{{ _('ui.progress.incomplete') }}</span>
          {% endif %}
        </td>
        <td><a href="/train/set/?s={{set.id}}"> <strong>{{set.translation}}</strong> ({{set.set_name}})</a></td>
        <td>{{set.totalcount}}</td>
        <td>
          <form method="post" action="/quiz/set/">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input name="set_id" type="hidden" value="{{set.id}}" />
            <input type="submit" value="{{ _('ui.quiz') }}" />
          </form>
        </td>
        <td>
          <img src="{{ url_for('static', filename=set.imgsrc) }}" alt="{{set.set_name}}">
        </td>
     </tr>
     {% endfor %}
  </tbody>
</table>

{% endblock %}
